@using İkinciElKitapSatisVol1.Models
@{
    ViewBag.Title = "Fatura";
}
@model Fatura


<h2>Fatura</h2>

<h3>Fatura No: @Model.FaturaID   Fatura Ad:@Model.FaturaAd  Tarih:@Model.FaturaTarih</h3> 
<p>
    Ait olduğu sipariş:@Model.SiparisID 
    @Model.FaturaNo
</p>


