
@{
    ViewBag.Title = "Anasayfa";
}

<h2>Anasayfa Index</h2>

<div>
    <p style="margin-top:500px;margin-block-end:500px;font-size:100px" class="dt-head-left">İkinci El Kitap Satış Sitemize Hoşgeldiniz.</p>
</div>